{% extends 'base.html' %}
{% load crispy_forms_tags %}
	{% block content %}
		<h2>Retrive Page</h2>
		{% if pdata %}
			<table class="table table-dark">
				<thead>
					<tr>
						<th scope="col" >Product ID</th>
						<th scope="col" >Product Name</th>
						<th scope="col" >Product Cost</th>
						<th scope="col" >Product Color</th>
						<th scope="col" >Product Class</th>
						<th scope="col" >Custom Name</th>
						<th scope="col" >Custom Mobile</th>
						<th scope="col" >Custom Email</th>
					</tr>
				</thead>
				{% for x in pdata %}
					<tbody>
						<tr>
							<td scope="row">{{x.product_id}}</td>
							<td>{{x.product_name}}</td>
							<td>{{x.product_cost}}</td>
							<td>{{x.product_color}}</td>
							<td>{{x.product_class}}</td>
							<td>{{x.custom_name}}</td>
							<td>{{x.custom_mobile}}</td>
							<td>{{x.custom_email}}</td>
						</tr>
					</tbody>
					{% endfor %}
			</table>
		{% endif %}
		
    {% endblock content %}